:root {
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 247, 254, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #0a0a0a;
	opacity: 1;
	background-image: linear-gradient(#141414 2px, transparent 2px),
		linear-gradient(to right, #141414 2px, #0a0a0a 2px);
	background-size: 20px 20px;
}
html {
	overflow-x: hidden;
}
body {
	font-family: 'Press Start 2P', system-ui;
	margin-left: 6%;
	overflow-x: hidden;
	padding-bottom: 300px;
}

.heading {
	margin: 30px 0;
}

.container__main {
	width: 80%;
}

.divider {
}

h1 {
	font-weight: 600;
	font-family: 'Press Start 2P', system-ui;
	display: inline-block;
}

p {
	font-family: 'Handjet', sans-serif;
}

.typed-still-nocursor {
	font-size: 30px;
}

.text__editor {
}

.text__editor .text__body {
	font-size: 18px;
}

.typed-cursor {
}

.heading-cuties {
	position: relative;
	bottom: 6px;
	left: 4px;
	font-size: 19px;
	color: #f093f6;
}

@media screen and (max-width: 368px) {
	.typed-still-nocursor {
		font-size: 24px;
	}
	.heading-cuties {
		font-size: 14px;
	}
}

.time-flies {
	animation: time-flies-colors 2s infinite;
}

@keyframes time-flies-colors {
	0% {
		color: #97ef7f;
	}
	32% {
		color: #97ef7f;
	}
	33% {
		color: #72f8f3;
	}
	65% {
		color: #72f8f3;
	}
	66% {
		color: #f9f68b;
	}
	99% {
		color: #f9f68b;
	}
}

.green {
	color: #97ef7f;
}

.red {
	color: #ef907f;
}

.yellow {
	color: #f9f68b;
}

.blue {
	color: #729ff8;
}
.purple {
	color: #ce72f8;
}
.golden {
	color: #ff9720;
}

.regular-text {
	font-size: 16px;
}

.underline {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

.ending-text {
	font-size: 24px;
	font-family: 'Press Start 2P', system-ui;
}

.ending-text-small {
	font-size: 11px !important;
	color: #b3b3b3;
	display: block;
}

.hint {
	position: relative;
	top: 46px;
}

a {
	background-color: #0a0a0a;
	border: 2px solid #97ef7f;
	color: #97ef7f;
	padding: 20px;
	position: relative;
	box-shadow: #97ef7f 4px 4px 0px;
	position: relative;
}

@keyframes peace {
	0% {
		transform: rotate('30deg');
	}
	100% {
		transform: rotate('-30deg');
	}
}

.heart {
	position: absolute;
	right: -60px;
	top: 12px;
	animation: heart 1s infinite;
	width: 36px;
}

@keyframes heart {
	0% {
		transform: rotate(10deg);
	}
	49% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}

.mySwiper {
	transition: all 0.5s;
}

.swiper {
	width: 320px;
	height: 231px;
	position: relative;
	margin: 0 !important;
	top: 18px;
}

@media screen and (max-width: 720px) {
	.container__main {
		width: 98%;
	}
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	color: transparent;
	border: 2px solid #0a0a0a;
	box-shadow: #0a0a0a 0px 4px 0px;
}

.welcome {
	position: fixed;
	top: -60px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	transition: opacity 0.35s ease;
}

.welcome--exiting {
	opacity: 0;
}

.welcome h1 {
	text-align: center;
	margin-bottom: 0;
}

.welcome button,
.welcome p {
	font-family: 'Press Start 2P', system-ui;
	font-size: 16px;
}

.welcome p {
	width: 80%;
	margin-bottom: 33px;
}

.welcome button {
	background-color: #0a0a0a;
	border: 2px solid #97ef7f;
	color: #97ef7f;
	padding: 20px;
	position: relative;
	box-shadow: #97ef7f 4px 4px 0px;
	position: relative;
	width: 30%;
	cursor: pointer;
}

.salute {
	transition: 0.35s;
	opacity: 0;
}

.salute--exiting {
	opacity: 1;
}

.gif {
	position: relative;
	top: 44px;
}

.gif_annotation {
	position: absolute;
	left: 55px;
	bottom: 40px;
	font-size: 18px;
	font-family: 'Press Start 2P', system-ui;
	text-shadow: 4px 4px 4px #0a0a0a;
	animation: gif_annotation 2s infinite;
	width: 230px;
}

@keyframes gif_annotation {
	0% {
		transform: rotate(6deg);
	}
	50% {
		transform: rotate(-6deg);
	}
	100% {
		transform: rotate(6deg);
	}
}
